*, *::after, *::before:not(i){
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 0;
}
body{
    overflow-x: hidden
}

@import "./Variables";
@import "./Navbar";
@import "./Cards";

/* General */
.highlight{
    color: $hightlight-color;
    font-weight: 700;
    text-shadow: 2px 2px 0 black, 0 0 10px black;
}

a{
    color: inherit;
    text-decoration: none;
}

header, section{
    min-height: 100vh;
}

section{
    padding-top: 100px;
    width: 100vw;
}

h1{
    text-align: center;
    margin-bottom: 50px;
    font-size: 2rem;
}

/* BUTTONS */
.button{
    transform: scale(1) translateY(0);
    filter: brightness(1);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in;
}
.button:hover{
    filter: brightness(1.3);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5), 0 2px 5px black;
}
.button:active{
    transform: scale(1) translateY(1px);
    filter: brightness(0.5);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5), 0 0 5px black;
}

/* HEADER */
header{
    background: rgb(250,207,255);
    color: white;
    background: linear-gradient(90deg, rgba(250,207,255,1) 0%, rgba(2,115,68,1) 100%);
    background-image: linear-gradient(90deg, rgba(207, 94, 136, 0.15), rgb(4, 58, 59, 0.2) 20% 70%), url("../images/background.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter: grayscale(20%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    h1, h2{
        text-shadow: 2px 2px 0 black, 0 0 10px black;
    }
    form{
        margin-top: 10px;
        width: 100vw;
        input{
            font-size: 1.1rem;
            outline: none;
            border: none;
        }
        input[type=email]{
            width: min(350px, 90%);
            padding: 8px 110px 8px 15px;
            border-radius: 50px;
            box-shadow: 2px 2px 5px black;
        }
        input[type=submit]{
            color: white;
            font-weight: 700;
            background-color: $main-color;
            width: 100px;
            padding: 5px;
            margin-left: -108px;
            border-radius: 50px;
            cursor: pointer;
        }
    }
}




@media screen and (max-width: 700px) {
    header{
        background-image: linear-gradient(90deg, rgba(207, 94, 136, 0.15), rgb(4, 58, 59, 0.2) 20% 70%), url("../images/background-small.webp");
        justify-content: space-between;
        align-items: center;
        text-align: center;
        padding: 10px 20px 60px 20px;
    }
}